streamlit
python-dotenv
langchain-huggingface
langchain-mistralai
langchain-community
langchain-core
huggingface-hub
sentence-transformers
faiss-cpu
openai
tqdm
pypdf
PyMuPDF
pdfminer.six
pandas
numpy
typing-extensions

